{
  "host": "${TELEM_HOST}",
  "port": ${TELEM_PORT},
  "status_port": 8080,
  "log_level": "${LOG_LEVEL}",
  "json_log_enable": true,
  "namespace": "${NAMESPACE}",
  "records": {
    "V": ["logger"],
    "alerts": ["logger"],
    "errors": ["logger"],
    "connectivity": ["logger"]
  },
  "tls": {
    "server_cert": "${TLS_CERT}",
    "server_key":  "${TLS_KEY}",
    "ca": "${TLS_CLIENT_CA}"
  }
}
